@media only screen and (max-width: 1200px) {
  .topLine {
    padding: 15px 5px;
  }
  .header {
    padding: 10px 5px;
  }
  .mainSlider {
    height: 400px;
  }
  .swiper-slide1 {
    height: 400px;
  }
  .page {
    padding: 0 5px 10px;
  }
  .catalog__outer {
    padding: 0 5px;
  }
  .gallery__outer {
    padding: 0 5px;
  }
  .gallery {
    margin: 0 -5px;
  }
  .gallery__item {
    padding: 5px;
  }
  .ig__outer {
    padding: 0 5px;
  }
  .dBox {
    padding: 0 5px;
  }
  .footer {
    padding: 25px 5px;
  }
  .projects {
    padding: 0 5px;
  }
  .lidsText {
    padding: 0 5px;
  }
  .portfolio__outer {
    padding: 10px 5px;
  }
}

@media only screen and (max-width: 1080px) {
  .catalog__itemInfo span {
    font-size: 24px;
  }
}

@media only screen and (max-width: 920px) {
  .topLine {
    flex-direction: column;
  }
  .topInfo__area {
    margin-bottom: 10px;
  }
  .header {
    flex-direction: column;
  }
  .header__logo {
    margin-bottom: 10px;
  }
  .swiper__cadr {
    max-width: 800px;
  }
  .swiper__inner1 {
    max-width: 680px;
  }
  .swiper__title1 {
    font-size: 26px;
  }
  .swiper__text1 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .catalog__itemOuter {
    padding: 10px;
    width: 100%;
  }
  .catalog__itemImg {
    width: 30%;
  }
  .catalog__itemInfo {
    width: 70%;
  }
  .project__img {
    width: 38%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .project__imgThmb {
    width: 100%;
    flex-direction: row;
    order: 1;
  }
  .project__imgBig {
    width: 100%;
    order: 0;
    margin-bottom: 20px;
  }
  .project:nth-child(even) .project__imgBig {
    order: 0;
  }
  .project:nth-child(even) .project__imgThmb {
    order: 1;
  }

  .project__info {
    width: 60%;
  }
  .project__imgThmb a {
    width: 30%;
  }
  .target1 {
    padding: 15px;
  }
  .target1__header {
    font-size: 24px;
  }
  .target1__decs {
    font-size: 18px;
  }
  .target2 {
    padding: 15px;
  }
  .target2__header {
    font-size: 22px;
  }
  .portfolio__itemInfoTitle {
    margin-bottom: 10px;
  }

  .portfolio__itemInfoTarget {
    margin-bottom: 10px;
  }

  .portfolio__itemInfoTime {
    margin-bottom: 10px;
  }

  .portfolio__itemInfoPrice {
    margin-bottom: 10px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 800px) {
  .swiper__cadr {
    max-width: 100%;
    padding: 0 60px;
  }
  .lidsText__form {
    width: 60%;
  }
  .stage__img {
    width: 30%;
  }
  .stage__desc {
    width: 70%;
  }
  .portfolio__itemImg {
    width: 30%;
  }
  .portfolio__itemInfo {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .popupCallBack {
    top: 10px;
  }
  .menuButton__outer {
    display: block;
  }
  .topMenu {
    display: none;
    margin-top: 10px;
  }
  .topMenu__outer {
    flex-direction: column;
  }
  .topMenu li {
    margin-right: 0;
  }
  .mainSlider {
    height: 300px;
  }
  .swiper-slide1 {
    height: 300px;
  }
  .swiper__title1 {
    font-size: 20px;
  }
  .swiper__text1 {
    font-size: 12px;
  }
  .swiper__link1 a {
    font-size: 14px;
    padding: 5px 10px;
  }
  .gallery__item {
    width: 25%;
  }
  /*.page__area {*/
  /*padding: 10px 0;*/
  /*}*/
  .catalog__area {
    padding: 10px 0;
  }
  .gallery__area {
    padding: 10px 0;
  }
  .ig__area {
    padding: 10px 0;
  }
  .dBox__area {
    padding: 10px 0;
  }
  .ig__item {
    width: 25%;
  }
  .dBox__left {
    width: 59%;
  }
  .dBox__right {
    width: 40%;
  }
  .footer {
    padding: 20px 5px;
  }
  .f2 {
    width: 100%;
    order: 0;
    margin-bottom: 10px;
  }
  .f1 {
    width: 50%;
    order: 1;
    margin-bottom: 10px;
  }
  .f3 {
    width: 50%;
    order: 2;
  }
  .project__infoTitle {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .project__infoSquare {
    font-size: 20px;
  }
  .project__infoPrice {
    font-size: 28px;
  }
  .lidsText__header {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .lidsText__center {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .topMenu li a {
    text-align: left;
  }
  .blog__itemTitle {
    font-size: 22px;
  }
  .blog__itemIntro {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .topLine__contArea {
    flex-direction: column;
  }
  .topLine__cont {
    margin: 0 0 10px 0;
  }
  .mainSlider {
    height: 250px;
  }
  .swiper-slide1 {
    height: 250px;
  }
  .page__area {
    padding: 0;
  }
  .content img {
    float: none !important;
    margin: 10px auto !important;
    display: block;
  }
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }
  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    margin: 10px 0 10px 0;
  }
  .content p,
  .content ul,
  .content ol,
  .content blockquote,
  .content table,
  .content ol li:before {
    font-size: 14px;
    margin: 0 0 5px 0;
  }
  .catalog__itemImg {
    width: 35%;
  }
  .catalog__itemInfo {
    width: 65%;
  }
  .catalog__itemInfo span {
    height: 80px;
  }
  .catalog__itemInfo p {
    height: 80px;
  }
  .gallery__item {
    width: 33.333%;
  }
  .ig__item {
    width: 33.333%;
  }
  .dBox {
    justify-content: center;
  }
  .dBox__left {
    width: 100%;
    margin-bottom: 10px;
  }
  .dBox__right {
    width: 70%;
  }
  .project {
    flex-direction: column;
    padding: 20px 0 10px;
    border-bottom: 3px solid #fcbc04;
  }
  .project__img {
    order: 0;
    width: 100%;
    flex-direction: row;
  }
  .project__imgBig {
    width: 72%;
  }
  .project__imgThmb {
    width: 25%;
    display: flex;
    flex-direction: column;
  }
  .project__imgThmb a {
    width: 100%;
  }
  .project:nth-child(even) .project__img {
    order: 0;
  }
  .project .project__info {
    order: 1;
    width: 100%;
  }
  .project:nth-child(even) .project__info {
    order: 1;
  }
  .project__infoTitle {
    display: none;
  }
  .project__titleFake {
    display: block;
  }
  .form1 input {
    height: 28px;
    font-size: 12px;
    margin-bottom: 7px;
    padding: 0 5px;
  }
  .form1 textarea {
    height: 100px;
    padding: 5px;
    font-size: 12px;
  }
  .submit1 {
    font-size: 16px;
  }
  .form__policy {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .form__policy p {
    font-size: 10px;
  }

  .form__policy a {
    font-size: 10px;
  }
  .breadcrumbs__area {
    padding: 5px 0;
  }
  .breadcrumbs,
  .breadcrumbs div a,
  .breadcrumbs div span {
    font-size: 12px;
  }
  .topLine__cont a {
    font-size: 14px;
  }
  .topLine__cont span {
    font-size: 12px;
  }
  .topLine__cont_btn {
    padding: 5px 10px;
  }
  .topLine {
    padding: 10px 5px 5px;
  }

  .target__outer {
    flex-direction: column;
  }
  .target1 {
    padding: 10px;
    width: 100%;
  }
  .target1__header {
    font-size: 24px;
  }
  .target1__decs {
    font-size: 18px;
  }
  .target2 {
    padding: 10px;
    width: 100%;
  }
  .target2__header {
    font-size: 22px;
  }
  .stage__img {
    width: 35%;
  }
  .stage__desc {
    width: 65%;
    padding: 10px;
  }
  .stage__descTitle {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .portfolio__itemImg {
    width: 40%;
  }
  .portfolio__itemInfo {
    width: 60%;
  }
  .portfolio__itemInfoTitle {
    font-size: 14px;
  }

  .portfolio__itemInfoTarget {
    font-size: 14px;
  }

  .portfolio__itemInfoTime {
    font-size: 14px;
  }

  .portfolio__itemInfoPrice {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .pagin ul.pagination li a {
    width: 28px;
    height: 28px;
    margin: 0 2px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .popupCallBack {
    width: 90%;
    left: 5%;
    margin-left: 0;
  }
  .mainSlider {
    display: none;
  }
  /*.header {*/
  /*border-bottom: 3px solid #FCBC04;*/
  /*}*/
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }
  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    margin: 5px 0 5px 0;
  }
  .content p,
  .content ul,
  .content ol,
  .content blockquote,
  .content table,
  .content ol li:before {
    font-size: 12px;
    margin: 0 0 5px 0;
  }
  .catalog__itemImg {
    border: 6px solid #fcbc04;
  }
  .catalog__itemInfo:before {
    height: 6px;
    margin-top: -3px;
  }
  .catalog__itemInfo span {
    font-size: 20px;
    height: 60px;
  }
  .catalog__itemInfo p {
    height: 60px;
  }
  .dBox__right {
    width: 100%;
  }
  .f1 {
    width: 100%;
  }
  .f3 {
    width: 100%;
  }
  .directPrice {
    font-size: 16px;
  }
  .lidsText__header {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .lidsText__center {
    font-size: 20px;
  }
  .lidsText__form {
    width: 80%;
  }
  .stage__descTitle {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .portfolio__itemImg {
    width: 100%;
  }
  .portfolio__itemInfo {
    width: 100%;
  }
  .blog__item {
    margin-bottom: 10px;
    padding: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .catalog__itemInfo span {
    font-size: 18px;
    height: 50px;
  }
  .catalog__itemInfo p {
    font-size: 14px;
    height: 50px;
  }
  .catalog__itemImg {
    width: 30%;
  }
  .catalog__itemInfo {
    width: 70%;
  }
  .gallery__item {
    width: 50%;
  }
  .videoBox__outer {
    width: 100%;
  }
  .ig__item {
    width: 50%;
  }
  .f1 {
    align-items: center;
  }
  .f3 {
    align-items: center;
  }
  .project__infoPrice {
    font-size: 26px;
  }
  .lidsText__form {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .catalog__itemInfo span {
    font-size: 16px;
  }
  .catalog__itemInfo p {
    font-size: 12px;
  }
}
