mixin videogallery
  .videoBox__area
    .videoBox__outer
      .videoBox
        a(data-fancybox='' href='https://www.youtube.com/watch?v=dl16e_mG6hg')
          img(src='https://img.youtube.com/vi/dl16e_mG6hg/sddefault.jpg' alt='')
    .videoBox__outer
      .videoBox
        a(data-fancybox='' href='https://www.youtube.com/watch?v=P5csD0SX8jI')
          img(src='https://img.youtube.com/vi/P5csD0SX8jI/sddefault.jpg' alt='')

mixin gallery
  .gallery
    .gallery__item
      a(href='assets/img/catalog/01.jpg' data-fancybox='group' data-caption='002')
        img(src='assets/img/catalog/01.jpg' alt='1')
    .gallery__item
      a(href='assets/img/catalog/02.jpg' data-fancybox='group' data-caption='002')
        img(src='assets/img/catalog/02.jpg' alt='1')
    .gallery__item
      a(href='assets/img/catalog/03.jpg' data-fancybox='group' data-caption='002')
        img(src='assets/img/catalog/03.jpg' alt='1')
    .gallery__item
      a(href='assets/img/catalog/04.jpg' data-fancybox='group' data-caption='002')
        img(src='assets/img/catalog/04.jpg' alt='1')
    .gallery__item
      a(href='assets/img/catalog/05.jpg' data-fancybox='group' data-caption='002')
        img(src='assets/img/catalog/05.jpg' alt='1')



mixin sertif
  .gallery
    .gallery__item
      a(href='assets/img/sert/1.jpg', data-fancybox='group', data-caption='001')
        img(src='assets/img/sert/1.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/2.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/sert/2.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/3.jpg', data-fancybox='group', data-caption='003')
        img(src='assets/img/sert/3.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/4.jpg', data-fancybox='group', data-caption='004')
        img(src='assets/img/sert/4.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/5.jpg', data-fancybox='group', data-caption='005')
        img(src='assets/img/sert/5.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/6.jpg', data-fancybox='group', data-caption='006')
        img(src='assets/img/sert/6.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/7.jpg', data-fancybox='group', data-caption='007')
        img(src='assets/img/sert/7.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/8.jpg', data-fancybox='group', data-caption='008')
        img(src='assets/img/sert/8.jpg', alt='1')