mixin projects 
	.projects__area
		.projects
			.title2.title2_center
				h2 Наши типовые проекты
			.project
				.project__titleFake Одноэтажный каркасный дом
				.project__img
					.project__imgBig
						a(href='assets/img/prj/p2.jpg' data-fancybox='group1')
							img(src='assets/img/prj/p2.jpg' alt='2')
					.project__imgThmb
						a(href='assets/img/prj/p21.jpg' data-fancybox='group1')
							img(src='assets/img/prj/p21.jpg' alt='1')
						a(href='assets/img/prj/p22.jpg' data-fancybox='group1')
							img(src='assets/img/prj/p22.jpg' alt='1')
				.project__info.content
					.project__infoTitle
						| Одноэтажный каркасный дом
					.project__infoSquare Общая площадь: 30 м2
					.project__infoSquareDesc
						ul
							li Высота потолков 2,4м, комната 13,1м2, прихожая 3,4м2, с/у 2,8м2, терраса 7,9м2
							li Высота в коньке 3,4м
							li Количество комнат: 4
					.project__infoPrice Цена от 950 тыс.руб.
					.project__infoPriceDesc
						| *точная цена зависит от комплектации
					.project__infoText
						p
							| К каждому проекту мы отдаем конструктив дома, если в будущем потребуется делать пристройку,
							| альбом деревянных конструкций.
						p
							| Гарантийное обслуживание прописано в договоре и равняется 5-ти годам. В течение 5-ти лет мы
							| устраняем любую проблему, если таковая находится.
					.directPrice Узнайте точную стоимость дома
			.project
				.project__titleFake Двухэтажный каркасный дом
				.project__img
					.project__imgBig
						a(href='assets/img/prj/p1.jpg' data-fancybox='group2')
							img(src='assets/img/prj/p1.jpg' alt='1')
					.project__imgThmb
						a(href='assets/img/prj/p13.jpg' data-fancybox='group2')
							img(src='assets/img/prj/p13.jpg' alt='1')
						a(href='assets/img/prj/p14.jpg' data-fancybox='group2')
							img(src='assets/img/prj/p14.jpg' alt='1')
				.project__info.content
					.project__infoTitle
						| Двухэтажный каркасный дом
					.project__infoSquare Общая площадь: 84 м2
					.project__infoSquareDesc
						ul
							li
								| Первый этаж 42 м2 : высота потолков 2,3м, Кухня 12м2, Спальня 12м2, с/у 2,9м2, Прихожая 4,5м2, Коридор 5м2
							li Второй этаж 42 м2 : Спальня 21,5м2, Спальня 10м2, Коридор 3м2
							li Количество комнат: 4
					.project__infoPrice Цена от 1 500 тыс.руб.
					.project__infoPriceDesc
						| *точная цена зависит от комплектации
					.project__infoText
						p
							| К каждому проекту мы отдаем конструктив дома, если в будущем потребуется делать пристройку,
							| альбом деревянных конструкций.
						p
							| Гарантийное обслуживание прописано в договоре и равняется 5-ти годам. В течение 5-ти лет мы
							| устраняем любую проблему, если таковая находится.
					.directPrice Узнайте точную стоимость дома
			.project
				.project__titleFake Каркасная баня 4х5 м
				.project__img
					.project__imgBig
						a(href='assets/img/prj/p3.jpg' data-fancybox='group3')
							img(src='assets/img/prj/p3.jpg' alt='1')
					.project__imgThmb
						a(href='assets/img/prj/p31.jpg' data-fancybox='group3')
							img(src='assets/img/prj/p31.jpg' alt='1')
						a(href='assets/img/prj/p32.jpg' data-fancybox='group3')
							img(src='assets/img/prj/p32.jpg' alt='1')
				.project__info.content
					.project__infoTitle
						| Каркасная баня 4х5 м
					.project__infoSquare
						| Общая площадь: 20 м
						sup 2
					.project__infoSquareDesc
						ul
							li
								| Первый этаж 42 м2 : высота потолков 2,3м, Кухня 12м2, Спальня 12м2, с/у 2,9м2, Прихожая 4,5м2, Коридор 5м2
							li Второй этаж 42 м2 : Спальня 21,5м2, Спальня 10м2, Коридор 3м2
							li Количество комнат: 4
					.project__infoPrice Цена от 1 500 тыс.руб.
					.project__infoPriceDesc
						| *точная цена зависит от комплектации
					.project__infoText
						p
							| К каждому проекту мы отдаем конструктив дома, если в будущем потребуется делать пристройку,
							| альбом деревянных конструкций.
						p
							| Гарантийное обслуживание прописано в договоре и равняется 5-ти годам. В течение 5-ти лет мы
							| устраняем любую проблему, если таковая находится.
					.directPrice Узнайте точную стоимость дома
			.project
				.project__titleFake Двухэтажный каркасный дом
				.project__img
					.project__imgBig
						a(href='assets/img/prj/p4.jpg' data-fancybox='group4')
							img(src='assets/img/prj/p4.jpg' alt='1')
					.project__imgThmb
						a(href='assets/img/prj/p41.jpg' data-fancybox='group4')
							img(src='assets/img/prj/p41.jpg' alt='1')
						a(href='assets/img/prj/p42.jpg' data-fancybox='group4')
							img(src='assets/img/prj/p42.jpg' alt='1')
				.project__info.content
					.project__infoTitle
						| Двухэтажный каркасный дом
					.project__infoSquare
						| Общая площадь: 84.5 м
						sup 2
					.project__infoSquareDesc
						ul
							li Габариты 6х8
							li Этажей - 2
							li Жилых комнат - 3
							li Фундамент – свайновинтовой
							li Наружные стены – деревянный каркас, стойки сечением 150 на 150 мм
							li Перекрытия – деревянные балки
							li Покрытие кровли – металлическая черепица
							li Высота первого этажа - 2.6 м
							li Высота мансардного этажа – 2.6 м
					.project__infoPrice Цена от 2 500 тыс.руб.
					.project__infoPriceDesc
						| *точная цена зависит от комплектации
					.project__infoText
						p
							| К каждому проекту мы отдаем конструктив дома, если в будущем потребуется делать пристройку,
							| альбом деревянных конструкций.
						p
							| Гарантийное обслуживание прописано в договоре и равняется 5-ти годам. В течение 5-ти лет мы
							| устраняем любую проблему, если таковая находится.
					.directPrice Узнайте точную стоимость дома
			.project
				.project__titleFake Одноэтажный каркасный дом
				.project__img
					.project__imgBig
						a(href='assets/img/prj/p5.jpg' data-fancybox='group5')
							img(src='assets/img/prj/p5.jpg' alt='1')
					.project__imgThmb
						a(href='assets/img/prj/p51.jpg' data-fancybox='group5')
							img(src='assets/img/prj/p51.jpg' alt='1')
						a(href='assets/img/prj/p52.jpg' data-fancybox='group5')
							img(src='assets/img/prj/p52.jpg' alt='1')
				.project__info.content
					.project__infoTitle
						| Одноэтажный каркасный дом
					.project__infoSquare
						| Общая площадь: 120 м
						sup 2
					.project__infoSquareDesc
						ul
							li Габариты 10,7х12,2
							li Этажей - 1
							li Жилых комнат - 3
							li Фундамент – монолитная ж/б плита
							li Наружные стены – деревянный каркас, стойки сечением 150 на 150 мм
							li Перекрытия – деревянные балки
							li Покрытие кровли – металлическая черепица
							li Высота - 3.3 м
					.project__infoPrice Цена от 2 500 тыс.руб.
					.project__infoPriceDesc
						| *точная цена зависит от комплектации
					.project__infoText
						p
							| К каждому проекту мы отдаем конструктив дома, если в будущем потребуется делать пристройку,
							| альбом деревянных конструкций.
						p
							| Гарантийное обслуживание прописано в договоре и равняется 5-ти годам. В течение 5-ти лет мы
							| устраняем любую проблему, если таковая находится.
					.directPrice Узнайте точную стоимость дома
