mixin mainSlider
  .mainSlider
    .swiper-container.swiper-container1
      .swiper-wrapper
        .swiper-slide.swiper-slide1(style='background-image: url(assets/img/slider1/slide1.jpg);')
          .swiper__cadr
            .swiper__inner1
              .swiper__title1
                | СТРОИТЕЛЬСТВО КАРКАСНЫХ ДОМОВ
              .swiper__text1
                | Строим каркасные дома в Саратове и Энгельсе по канадской и скандинавской технологии
              .swiper__link1
                a(href='#') Подробнее...
        .swiper-slide.swiper-slide1(style='background-image: url(assets/img/slider1/slide2.jpg);')
          .swiper__cadr
            .swiper__inner1
              .swiper__title1
                | ВНУТРЕННЯЯ ОТДЕЛКА ДЕРЕВОМ
              .swiper__text1
                | Имитация бруса, блок-хаус, вагонка. Любые решения для создания уюта и тепла Вашего дома!
              .swiper__link1
                a(href='#') Подробнее...
        .swiper-slide.swiper-slide1(style='background-image: url(assets/img/slider1/slide3.jpg);')
          .swiper__cadr
            .swiper__inner1
              .swiper__title1
                | Пристройки, веранды, террасы
              .swiper__text1
                | Открытые и закрытые, по каркасной технологии, быстро и качественно!
              .swiper__link1
                a(href='#') Подробнее...
      .swiper-pagination.swiper-pagination1
      .swiper-pagination.swiper-button-prev.swiper-button-prev1
        i.fa.fa-angle-left(aria-hidden='true')
      .swiper-pagination.swiper-button-next.swiper-button-next1
        i.fa.fa-angle-right(aria-hidden='true')