- var pageTitle = 'Барн-Хаусы'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'
- var sliderTitle1 = 'Популярные товары'
- var commentsTitle = 'Отзывы'
- var mainProjectsTitle = 'Наши проекты'

include __const
include __header
include __sliders
include __gallery
include __forms
include __footer

include __index



<!DOCTYPE html>
html(lang="ru-RU")
  head
    +head
  body
    .site__header
    .site__center
      .fly__header
        +header
      .bh__first(style="background-image: url(assets/img/bh/02.jpg)")
        .bh__firstInner 
          .bh__firstInnerLeft 
            h1 
              span Барн-Хаусы 
              span под ключ в Саратове
          .bh__firstInnerRight 
            span от 400 тыс. рублей
      .bhBlock__area 
        .bhBlock
          .bhBlock__title 
            h2 Что такое БАРН-ХАУС?
          .bhBlock__desc
            .content_xxl 
              p Барнхаус — это современный архитектурный стиль, применяемый в основном в малоэтажном строительстве.
              p В переводе с английского "barn" озгначает «сарай» или «амбар». Дома в стиле барнхаус по своей форме на самом деле напоминают хозяйственные постройки. Они позиционируются, как эдакий деревенский лофт.
              p Появившиеся в начале XX века, такие дома-барнхаусы по-прежнему популярны, в первую очередь благодаря своей простоте, экономичности, экологичности и скорости возведения.
          .bhBlock__content

    .site__footer
      +footer
    .toTop
    .overlay
    .js_containerZ.popupCallBack.animated
      .formZ__area
        .formClose
          i.fa.fa-times(aria-hidden='true')
        .formZ_title Оставьте Ваше имя и номер телефона и мы Вам перезвоним
        form.formZ(method='post' action='#')
          input.nameZ(name='nameZ' type='text' placeholder='Ваше имя')
          input.phoneZ(name='phoneZ' type='text' placeholder='Укажите Ваш номер')
          input.work_emailZ(name='work_emailZ' type='text' placeholder='Рабочий email')
          .form__policy
            p
              | *Отправляя сообщение Вы соглашаетесь с условиями
              a(href='#' target='_blank') политики конфиденциальности
          button.submitZ(type='submit' name='submitZ')
            | Заказать звонок
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
    +scripts



