- var pageTitle = 'Главная страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'
- var sliderTitle1 = 'Популярные товары'
- var commentsTitle = 'Отзывы'

include __const
include __header
include __sliders
include __gallery
include __forms
include __footer



<!DOCTYPE html>
html(lang="ru-RU")
  head
    +head
  body
    .site__header
      +header
    .site__center
      +mainSlider
      .page__area
        .page
          .title1.title2_center
            h1 СТРОИТЕЛЬСТВО КАРКАСНЫХ ДОМОВ И КОТТЕДЖЕЙ В САРАТОВЕ И ЭНГЕЛЬСЕ
          .content
            p
              strong Малоэтажное каркасное строительство 
              |  — основной вид деятельности нашей компании.
            p
              | Возведение объектов по каркасной технологии — современный, экономичный, экологичный и достаточно быстрый процесс. Он занимает небольшой промежуток времени: в среднем от 1-го до 3-х месяцев на объект. И такая технология обходится заказчику значительно дешевле, чем выполнение работ из кирпича, бруса, и других материалов.
            p
              | Огромный опыт нашей команды строителей и проектировщиков позволяет выполнить любой проект по возведению каркасного строения. Мы всегда готовы предложить своим клиентам различные варианты проектов, которые будут отвечать вашим требованиям и нуждам.
            p
              | Мы осуществляем строительство по скандинавской и канадской технологиям таких объектов как:
            ul
              li
                a(href='https://karkas64.ru/stroitelstvo-karkasnyix-domov/') каркасные дома
                |  разной этажности
              li
                a(href='https://karkas64.ru/pristrojki/') пристройки к домам
                |  и другим объектам
              li
                | возводим 
                a(href='https://karkas64.ru/terrasyi-i-verandyi/') веранды 
                | открытого и закрытого исполнения
              li
                | разбиваем 
                a(href='https://karkas64.ru/terrasyi-i-verandyi/') террасы
              li
                | строим 
                a(href='https://karkas64.ru/bani-pod-klyuch/') бани под ключ
                |  по каркасной технологии
              li
                | выполняем внутреннюю и наружную 
                a(href='https://karkas64.ru/otdelka-derevom/') отделку деревом
            p
              | Готовое строение обладает небольшим весом, что позволяет экономить на фундаменте. Малозаглубленный фундамент каркасного дома не дает деформацию и усадку.
            p
              | Мы используем только 
              strong качественные, проверенные временем материалы
              | , что дает возможность эксплуатировать готовые объекты долгие годы. Такие постройки с легкостью выдерживают суровые климатические условия. Не даром они используются на крайнем севере, где температура варьируется от +30 до -50 градусов в течение года.
            p Все коммуникации с легкостью скрываются под обшивкой конструкции.
            p Также мы выполняем работы по демонтажу, реконструкции и достройке.
      .catalog__area
        .catalog__outer
          .title2.title2_center
            h2 Наши услуги
          .catalog
            section.catalog__itemOuter
              a.catalog__item(href='#')
                .catalog__itemImg
                  img(src='assets/img/catalog/01.jpg' alt='1')
                .catalog__itemInfo
                  span Строительство каркасных домов
                  p по канадской и скандинавской технологии
            section.catalog__itemOuter
              a.catalog__item(href='#')
                .catalog__itemImg
                  img(src='assets/img/catalog/02.jpg' alt='2')
                .catalog__itemInfo
                  span Бани под ключ
                  p С нуля до полной отделки
            section.catalog__itemOuter
              a.catalog__item(href='#')
                .catalog__itemImg
                  img(src='assets/img/catalog/03.jpg' alt='3')
                .catalog__itemInfo
                  span Пристройки
                  p по канадской и скандинавской технологии
            section.catalog__itemOuter
              a.catalog__item(href='#')
                .catalog__itemImg
                  img(src='assets/img/catalog/04.jpg' alt='1')
                .catalog__itemInfo
                  span Террасы и веранды
                  p открытого и закрытого исполнения
      .gallery__area
        .gallery__outer
          .title2.title2_center
            h2 Галерея H2
          +gallery
      .gallery__area
        .gallery__outer
          .title2.title2_center
            h2 Видеогалерея H2
          +videogallery
      
      .dBox__area
        .dBox
          .dBox__left
            .title2.title2_center
              h3 Мы на карте
            .map__area
              #map
          .dBox__right
            .title2.title2_center
              h3 Обратная связь
            form.form1(action='#')
              input.name1(name='name1' type='text' placeholder='Ваше имя')
              input.phone1(name='phone1' type='text' placeholder='Ваш телефон')
              input.email1(name='email1' type='text' placeholder='Ваш email')
              input.work_email1(name='work_email1' type='text' placeholder='Рабочий email')
              textarea.message1(name='message1' cols='30' rows='10' placeholder='Ваш вопрос:')
              .form__policy
                p
                  | *Отправляя сообщение Вы соглашаетесь с условиями
                  a(href='#' target='_blank') политики конфиденциальности
              button.submit1(type='submit' name='submit1') Задать вопрос
    .site__footer
      .footer__area
        footer.footer
          .f1
            span © Каркас64 2018
            p *информация на сайте не является публичной офертой
            a(href='#') Политика конфиденциальности
          .f2
            .like__area
              .likeBlock
                a.like_twitter(onclick='return share.twitter(share_url,share_title);' href='#')
                  i.fa.fa-twitter(aria-hidden='true')
                a.like_gp(onclick='return share.gp(share_url,share_title);' href='#')
                  i.fa.fa-google-plus(aria-hidden='true')
                a.like_vk(onclick='return share.vk(share_url,share_title,share_image,share_desc);' href='#')
                  i.fa.fa-vk(aria-hidden='true')
                a.like_ok(onclick='return share.ok(share_url,share_desc);' href='#')
                  i.fa.fa-odnoklassniki(aria-hidden='true')
                a.like_fb(onclick='return share.fb(share_url,share_title,share_image,share_desc);' href='#')
                  i.fa.fa-facebook(aria-hidden='true')
          .f3
            p
              | Разработка сайта: Веб-студия 
              a(href='https://site-a.ru' target='_blank') «Сайт-А»
            .siteCounter
              img(src='assets/img/counter.jpg' alt='')
    .toTop
    .overlay
    .js_containerZ.popupCallBack.animated
      .formZ__area
        .formClose
          i.fa.fa-times(aria-hidden='true')
        .formZ_title Оставьте Ваше имя и номер телефона и мы Вам перезвоним
        form.formZ(method='post' action='#')
          input.nameZ(name='nameZ' type='text' placeholder='Ваше имя')
          input.phoneZ(name='phoneZ' type='text' placeholder='Укажите Ваш номер')
          input.work_emailZ(name='work_emailZ' type='text' placeholder='Рабочий email')
          .form__policy
            p
              | *Отправляя сообщение Вы соглашаетесь с условиями
              a(href='#' target='_blank') политики конфиденциальности
          button.submitZ(type='submit' name='submitZ')
            | Заказать звонок
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
    +scripts
