- var pageTitle = 'Главная страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'
- var sliderTitle1 = 'Популярные товары'
- var commentsTitle = 'Отзывы'

include __const
include __header
include __sliders
include __gallery
include __forms
include __footer

include __index



<!DOCTYPE html>
html(lang="ru-RU")
  head
    +head
  body
    .site__header
      +header
    .site__center
      +mainSlider
      
      .catalog__area
        .catalog__outer
          .title2.title2_center
            h2 Наши услуги
          .catalog
            section.catalog__itemOuter
              a.catalog__item(href='#')
                .catalog__itemImg
                  img(src='assets/img/catalog/01.jpg' alt='1')
                .catalog__itemInfo
                  span Строительство каркасных домов
                  p по канадской и скандинавской технологии
            section.catalog__itemOuter
              a.catalog__item(href='#')
                .catalog__itemImg
                  img(src='assets/img/catalog/02.jpg' alt='2')
                .catalog__itemInfo
                  span Бани под ключ
                  p С нуля до полной отделки
            section.catalog__itemOuter
              a.catalog__item(href='#')
                .catalog__itemImg
                  img(src='assets/img/catalog/03.jpg' alt='3')
                .catalog__itemInfo
                  span Пристройки
                  p по канадской и скандинавской технологии
            section.catalog__itemOuter
              a.catalog__item(href='#')
                .catalog__itemImg
                  img(src='assets/img/catalog/04.jpg' alt='1')
                .catalog__itemInfo
                  span Террасы и веранды
                  p открытого и закрытого исполнения
      +animCount
      
      .gallery__area
        .gallery__outer
          .title2.title2_center
            h2 Галерея H2
          +gallery
      .gallery__area
        .gallery__outer
          .title2.title2_center
            h2 Видеогалерея H2
          +videogallery

      +about
      +commentsCaroucel
      .dBox__area
        .dBox
          .dBox__left
            .title2.title2_center
              h3 Мы на карте
            .map__area
              #map
          .dBox__right
            .title2.title2_center
              h3 Обратная связь
            form.form1(action='#')
              input.name1(name='name1' type='text' placeholder='Ваше имя')
              input.phone1(name='phone1' type='text' placeholder='Ваш телефон')
              input.email1(name='email1' type='text' placeholder='Ваш email')
              input.work_email1(name='work_email1' type='text' placeholder='Рабочий email')
              textarea.message1(name='message1' cols='30' rows='10' placeholder='Ваш вопрос:')
              .form__policy
                p
                  | *Отправляя сообщение Вы соглашаетесь с условиями
                  a(href='#' target='_blank') политики конфиденциальности
              button.submit1(type='submit' name='submit1') Задать вопрос
    .site__footer
      +footer
    .toTop
    .overlay
    .js_containerZ.popupCallBack.animated
      .formZ__area
        .formClose
          i.fa.fa-times(aria-hidden='true')
        .formZ_title Оставьте Ваше имя и номер телефона и мы Вам перезвоним
        form.formZ(method='post' action='#')
          input.nameZ(name='nameZ' type='text' placeholder='Ваше имя')
          input.phoneZ(name='phoneZ' type='text' placeholder='Укажите Ваш номер')
          input.work_emailZ(name='work_emailZ' type='text' placeholder='Рабочий email')
          .form__policy
            p
              | *Отправляя сообщение Вы соглашаетесь с условиями
              a(href='#' target='_blank') политики конфиденциальности
          button.submitZ(type='submit' name='submitZ')
            | Заказать звонок
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
    +scripts



